@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}


:root{
  /* font-size : 15.75px; */
  font-size : 14.5px;
  
}
.font-thin {
  font-weight : 100;
}

.font-extralight {
  font-weight : 100;
}

.font-light {
  font-weight : 200;
}

.font-normal {
  font-weight : 300;
}

.font-medium {
  font-weight : 400;
}

.font-semibold {
  font-weight : 600;
}

.font-bold {
  font-weight : 600;
}

.font-extrabold {
  font-weight : 800;
} 

.font-black {
  font-weight : 900;
}
@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
    /* transition: all .5s ease-in-out; */
  }
}


@theme {
  /* --color-green: #00b894; */
  /* --color-green : #16a085; */
  --color-green :#20bf6b;

  /* #20bf6b; */
  --color-white: #f5f6fa;
  --color-white-pure : white;
  /* --color-white : white; */
}
@theme {
  --breakpoint-xs: 500px;
 
}
html, body {
  min-height: 100%;
  overflow-y: auto;
  transition: all .5s ease-in-out;
}


body {
  /* background-color: rgba(128, 128, 128, 0.08); */
  /* border : 2px solid red; */
  position: relative;
 
}
/* in your global CSS file (e.g., index.css or globals.css) */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.bg-thunk{
  background-color: rgba(128, 128, 128, 0.08);
}
.btn {
  @apply transform px-7 py-2 rounded-md font-semibold text-white bg-green hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.cart-btn {
  @apply transform w-[7.8rem] h-[3.6rem] rounded-md font-semibold text-white bg-gray-400 hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.cart-btn-1 {
  @apply transform w-[7.8rem] h-[3.6rem] rounded-md font-semibold text-white hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.items-btn{
  @apply transform bg-green w-[8rem] h-[3.6rem] rounded-md font-semibold text-white hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.specific-cart-btn {
  @apply transform px-6 py-2 rounded-md font-semibold text-white bg-green hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.cart-btn:disabled:hover { @apply cursor-not-allowed; }
.btn-secondary {
  @apply transform px-14 py-2 rounded-md font-normal text-white bg-green hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.btn-temp {
  @apply transform w-fit px-5.5 md:px-14 py-[.4rem] rounded-full tracking-wider font-normal text-black bg-gray-200 hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.btn-white{
  @apply transform px-8 py-2 rounded-md font-bold text-black bg-white hover:scale-103 transition-transform  duration-100 cursor-pointer;
}
.frame {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.75) 50%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("/fruits.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-box-section{
  background-image: url("/fruit2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;

}

.img-box-section1{
  background-image: url("/vegetable1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;

}

.img-box-section2{
  background-image: url("/drink1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;

}

::-webkit-scrollbar {
  width: 4px; 
  height: 8px;  
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(0 , 0 , 0 , .1); 
}
.body-overflow{
  overflow: hidden;
}

.removeShield{
  display: none;
}
.div-bg {
  background: 
    linear-gradient(
      75deg,
      rgba(0, 0, 0, 0.95) 0%,   
      rgba(0, 0, 0, 0.65) 50%, 
      rgba(0, 0, 0, 0.25) 100%  
    ),
    url("/plate2.jpg");
   
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.product-btn{
  
  /* padding : .25rem 1.8rem;
  border-radius : .2rem;
 
  background-color: var(--color-green);
  color : white;
  font-size : 16px;
  letter-spacing : 1px;
  transition: .2s ease-in-out;
  width : 100%; */
  
  
}
.product-mini-btn{
 
    /* border : 2px solid red; */
    padding : .18rem .9rem;
    border-radius : .2rem;
    /* cursor : pointer; */
    background-color: var(--color-green);
    color : white;
    font-size : 12px;
    letter-spacing : 1px;
    transition: .2s ease-in-out;
    
    /* font-weight : bold; */
  
}
.product-btn-out-of-stock{
  /* border : 2px solid red; */
  /* padding : .25rem .6rem; */
  padding : .25rem 1.8rem;
  border-radius : .2rem;
  /* cursor : pointer; */
  background-color: rgba(0 , 0 , 0 , .60);
  color : white;
  font-size : 16px;
  /* letter-spacing : 1px; */
  transition: .2s ease-in-out;
  width : 100%;
  /* text-align: center; */
   
  /* font-weight : bold; */
}
.product-btn-out-of-stock-mini{
   /* border : 2px solid red; */
   padding : .10rem .2rem;
   border-radius : .2rem;
   /* cursor : pointer; */
   background-color: rgba(0 , 0 , 0 , .65);
   color : white;
   font-size : 8px;
   /* letter-spacing : 1px; */
   transition: .2s ease-in-out;
   /* font-weight : bold; */
}
.adding-to-cart-btn{
  /* border : 2px solid red; */
  padding : .25rem .5rem;
  border-radius : .2rem;
  width : 6rem;
  /* cursor : pointer; */
  background-color: var(--color-green);
  color : white;
  font-size : 16px;
  letter-spacing : 1px;
  transition: .2s ease-in-out;
  position: absolute;
  /* top : 0; */
  /* right : 0; */
  /* font-weight : bold; */
}
.adding-to-cart-btn-2{
  padding : .15rem .3rem;
  border-radius : .2rem;
  width : 5rem;
  background-color: var(--color-green);
  color : white;
  /* font-size : 16px; */
  letter-spacing : 1px;
  transition: .2s ease-in-out;
  /* border : 2px solid red; */
  height : 2rem;
}
.product-btn:hover{
  transform: scale(1.02);
}
@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fade {
  animation: fadeOut 1s ease forwards;
}
/* Add this to your global CSS file */
.custom-checkbox:checked::after {
  content: "✔";              /* Unicode tick */
  color: white;              /* White tick */
  font-size: 12px;           /* Adjust size */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top : .05rem
}

.discount-banner {
  animation: pulse 1.5s infinite;
  font-size: 1.5rem;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@keyframes slide {
  0% { transform: translateY(100%); opacity: 0; }
  20% { transform: translateY(0); opacity: 1; }
  80% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-100%); opacity: 0; }
}

.animate-slide {
  animation: slide 2s ease-in-out;
}










